name: Publish on npm

on:
  push:
    # tags:
    #   - "v*"
    branches:
      - main

permissions:
  id-token: write # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 10

      - uses: actions/setup-node@v4

      - name: Enable Corepack
        run: |
          corepack prepare pnpm@9.15.3 --activate
          corepack enable

      - name: Get pnpm store directory
        id: pnpm-cache
        run: |
          echo "pnpm_store_path=$(pnpm store path)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        name: Set up pnpm cache
        with:
          path: ${{ steps.pnpm-cache.outputs.pnpm_store_path }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --strict-peer-dependencies

      - run: pnpm run build --if-present
      - run: pnpm test
      - run: pnpm publish --provenance --access public
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
